.simpleMenuItem {
  display: flex;
  width: 100%;
  transition: color .2s cubic-bezier(.39,.575,.565,1), background .2s cubic-bezier(.39,.575,.565,1), opacity .2s cubic-bezier(.39,.575,.565,1);
  height: 44px;
  cursor: pointer;

  &:hover {
    trait: gray--highlight from 'background-color';
  }

  &.isActive {
    .title {
      trait: blue from 'color';
    }
  }

  &.isDisabled {
    cursor: default;
    trait: darkTertiary from 'color';
  }
}

.content {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  flex: 1;
}

.title {
  margin: auto 0;
}