.title {
  @mixin title from '../contentPage';
}

.description {
  @mixin description from '../contentPage';
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 640px;
  display: flex;
  flex-direction: column;
}