.title {
  @mixin title from '../contentPage';
}

.description {
  @mixin description from '../contentPage';
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  border-radius: 2px;
  trait: lowElevation from 'box-shadow';
  trait: white from 'background-color';
  line-height: 24px;
  margin-top: 48px;
  width: 640px;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  padding: 20px 16px 12px 16px;
  trait: top from 'box-shadow';
  font-size: 24px;
  line-height: 32px;
}

.cardSupportingText {
  padding: 12px 16px 20px 16px;
}