@import 'common/css/color.css';
@import 'common/css/transition.css';

.panel-heading {
  cursor: pointer;
  transition: all .14s var(--transition-easeOutSine);

  @nest &:not(.collapsed),
  &:not(.collapsed):hover {
    color: white;
    background-color: var(--blue);
  }

  @nest &:hover {
    background-color: var(--darkhighlight);
  }
}