.navigationDrawer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  height: 56px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  trait: bottom from 'box-shadow';
}

.footer {
  height: 56px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  trait: top from 'box-shadow';
}

.navigationItemsRegion {
  padding-top: 8px;
  flex: 1;
}