# Streamus
dist
release

#TODO: REMOVE
Deploy/
Streamus *.zip

# CSS is compiled with LESS. Commit the LESS file rather than the CSS
src/css/*.css

# Node
node_modules

# Visual Studio
*.suo
*.user
obj
bin
*.config