# Streamus
dist
release
compiled

#jspm
jspm_packages

# Grunt deploy password
.ftppass
# Cache of deployed files
sftpCache.json

# CSS is compiled with LESS. Commit the LESS file rather than the CSS
src/css/*.css

# Node
node_modules

# Visual Studio
*.suo
*.user
obj
bin
*.config