<a href="/{{RouteType.Home}}" class="{{styles.logo}}">
  <img width='184' height='40' src='/header/logo.png' class='logo' title='Streaming YouTube music made simple by Google Chrome - Streamus' alt='Streaming YouTube music made simple by Google Chrome - Streamus' />
</a>

<div data-region='navigationItems'></div>