.header {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 12px;
  trait: blue from 'background-color';
  trait: white from 'color';
  transition: box-shadow .2s cubic-bezier(.39, .575, .565, 1);

  &.isFloating {
    trait: mediumLowElevation from 'box-shadow';
  }
}

.logo {
  flex: 1;
}