<ul>
  <li>Email: admin at streamus dot com</li>
  <li>Skype: sean.streamus</li>
  <li>
    <a href='http://www.reddit.com/r/streamus'>
      Reddit
    </a>
  </li>
  <li>
    <a href='https://twitter.com/Streamus'>
      Twitter
    </a>
  </li>
  <li>
    <a href='https://www.facebook.com/GetStreamus'>
      Facebook
    </a>
  </li>
  <li>
    <a href='https://plus.google.com/b/111741013897114446887/'>
      Google+
    </a>
  </li>
</ul>