.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.centered {
  composes: align-center justify-center;
}

@media (max-width: 520px) {
  .small.small {
    display: flex
  }

  .vertical--small.vertical--small {
    flex-direction: column
  }

  .align-center--small.align-center--small {
    align-items: center
  }

  .align-end--small.align-end--small {
    align-items: flex-end
  }

  .align-stretch--small.align-stretch--small {
    align-items: stretch
  }

  .wrap--small.wrap--small {
    flex-wrap: wrap
  }

  .justify-center--small.justify-center--small {
    justify-content: center
  }

  .justify-end--small.justify-end--small {
    justify-content: flex-end
  }
}

@media (min-width: 521px) and (max-width: 900px) {
  .medium.medium {
    display: flex
  }

  .vertical--medium.vertical--medium {
    flex-direction: column
  }

  .align-center--medium.align-center--medium {
    align-items: center
  }

  .align-end--medium.align-end--medium {
    align-items: flex-end
  }

  .align-stretch--medium.align-stretch--medium {
    align-items: stretch
  }

  .wrap--medium.wrap--medium {
    flex-wrap: wrap
  }

  .justify-center--medium.justify-center--medium {
    justify-content: center
  }

  .justify-end--medium.justify-end--medium {
    justify-content: flex-end
  }
}

@media (min-width: 901px) {
  .large.large {
    display: flex
  }

  .vertical--large.vertical--large {
    flex-direction: column
  }

  .align-center--large.align-center--large {
    align-items: center
  }

  .align-end--large.align-end--large {
    align-items: flex-end
  }

  .align-stretch--large.align-stretch--large {
    align-items: stretch
  }

  .wrap--large.wrap--large {
    flex-wrap: wrap
  }

  .justify-center--large.justify-center--large {
    justify-content: center
  }

  .justify-end--large.justify-end--large {
    justify-content: flex-end
  }
}