.title {
  @mixin title from '../contentPage';
}

.description {
  @mixin description from '../contentPage';
}

.card {
  @mixin card from 'common/css/components/card';
  padding: 24px 8px 8px 8px;
}

.link {
  trait: blue from 'color';
  font-weight: 500;
}