.title {
  @mixin title from '../contentPage';
}

.description {
  @mixin description from '../contentPage';
}

.card {
  border-radius: 2px;
  trait: lowElevation from 'box-shadow';
  padding: 24px 16px;
  background-color: white;
  line-height: 24px;
  margin-top: 48px;
}

.sectionTitle {
  font-size: 24px;
  line-height: 32px;
}

.subsectionTitle {
  font-size: 20px;
  font-weight: 500;
}

.subsectionTitle,
.sectionTitle {
  margin-bottom: 12px;
}

.subsection,
.section:not(:first-child) {
  margin-top: 16px;
}

.subsectionParagraph,
.sectionParagraph:not(:last-child) {
  margin-bottom: 12px;
}

.link {
  trait: blue from 'color';
  font-weight: 500;
}