.title {
  @mixin title from '../contentPage';
}

.description {
  @mixin description from '../contentPage';
}

.card {
  border-radius: 2px;
  trait: lowElevation from 'box-shadow';
  padding: 24px 8px 16px 8px;
  trait: white from 'background-color';
  line-height: 24px;
  margin-top: 48px;
}

.inputs {
  margin: 0 8px;
}

.note {
  font-size: 12px;
  trait: darkSecondary from 'color';
  margin-left: 8px;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  align-items: center;
}

.button {
  @mixin raisedButton from 'button/button';
  trait: blue from 'background-color';
  trait: white from 'color';
  margin-right: 8px;
}

.required {
  trait: error from 'color';
}