.title {
  @mixin title from '../contentPage';
}

.description {
  @mixin description from '../contentPage';
}

.card {
  @mixin card from 'common/css/components/card';
  padding-top: 24px;
  padding-bottom: 12px;
}

.header {
  font-size: 24px;
  line-height: 32px;
  padding-left: 16px;
}