.title {
  @mixin title from '../contentPage';
}

.description {
  @mixin description from '../contentPage';
}

.card {
  border-radius: 2px;
  trait: lowElevation from 'box-shadow';
  padding: 24px 0;
  background-color: white;
  line-height: 24px;
  margin-top: 48px;
}

.header {
  font-size: 24px;
  line-height: 32px;
  padding-left: 16px;
}