.faqItem {
  font-size: 16px;
  overflow: hidden;
  transition: height .28s cubic-bezier(.39, .575, .565, 1),
              box-shadow .28s cubic-bezier(.39, .575, .565, 1);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0),
              inset 0 -1px rgba(0, 0, 0, 0);

  &:hover {
    will-change: height, box-shadow;
  }

  &.isActive {
    box-shadow: inset 0 1px rgba(0, 0, 0, .12),
                inset 0 -1px rgba(0, 0, 0, .12);

    & .title {
      trait: blue from 'color';
    }

    & .expandCollapseIcon {
      transform: rotate(180deg);
      trait: blue from 'color';
    }
  }
}

.header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  height: 48px;
  flex-shrink: 0;
  transition: background-color .1s cubic-bezier(.39, .575, .565, 1);

  &:hover {
    trait: gray--highlight from 'background-color';
  }
}

.title {
  flex: 1;
  transition: color .28s cubic-bezier(.39, .575, .565, 1);
}

.description {
  margin: 8px 16px 12px 16px;
}

.expandCollapseIcon {
  composes: fa fa-lg fa-angle-down from 'font-awesome';
  transition: transform .28s cubic-bezier(.39, .575, .565, 1),
              color .28s cubic-bezier(.39, .575, .565, 1);
  margin-right: 16px;
  trait: darkSecondary from 'color';
}

.paragraph {
  margin: 8px 0;
}