<div class="jumbotron">
    <h1>Hi! I'm Sean Anderson.</h1>
    <h2>Pleasure to meet you. <br/>Here's a bit of background on the project.</h2>
</div>
<hr />
<div class="row marketing">
    <div class="col-md-8">
        <p>
            <strong>Programming should be fun and useful.</strong> Streamus is my manifestation
            of that belief. One day, while sitting around with friends, having a couple
            of beers, I said to myself, "I bookmark YouTube way too much!" Naturally,
            I took this thought way too far. The resulting chaos led to Streamus -
            my attempt at simplifying our YouTube streaming experiences.
        </p>
        <p>
            <strong>I love music.</strong> Especially EDM. It seemed fitting to share
            Streamus with the world because, well, music is so much better when everyone
            gets to experience it... why should the software that makes it possible
            be any different?
        </p>
        <p>
            <strong>Help me help you.</strong> Streamus isn't perfect and, without
            your help, it never will be. Reach out to me. I am friendly and interested
            in your ideas. How do you use YouTube?
        </p>
        <p id="aboutConclusion">
            I'll make Streamus. You buy me a beer at <a href="http://electricdaisycarnival.com/">Electric Daisy Carnival 2014</a>. Deal? ;)
        </p>
    </div>
    <div class="col-md-4">
        <img width="720" height="960" src="img/sean.jpg" class="img-thumbnail img-responsive" />
    </div>
</div>