<div class="jumbotron">
    <h1>Hi! I'm Sean Anderson.</h1>
</div>
<hr />
<div class="row marketing">
    <div class="col-md-7 col-md-offset-1">
        <p>
            <strong>Programming should be fun and useful.</strong> Streamus is my manifestation
            of that belief. One day, while sitting around with friends, having a couple
            of beers, I said to myself, “I bookmark YouTube way too much!” Naturally,
            I took this thought way too far. Three years of effort has led to Streamus -
            my attempt at simplifying the YouTube music experience.
        </p>
        <p>
            <strong>I love music.</strong> Especially EDM. It seemed fitting to share
            Streamus with the world because, well, music is so much better when everyone
            gets to experience it&hellip; why should the software that makes it possible
            be any different?
        </p>
        <p>
            <strong>Help me help you.</strong> Streamus isn't perfect and, without
            your help, it never will be. Reach out to me. I am friendly and interested
            in your ideas. How do you use YouTube?
        </p>
        <br/>
        <p>
            I'll make Streamus. You buy me a beer at <a href="http://electricdaisycarnival.com/">Electric Daisy Carnival 2015</a>. Deal? ;)
        </p>
    </div>
    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-0">
        <img src="img/sean.jpg" class="about-image img-thumbnail img-responsive" alt="Image of Sean Anderson"/>
    </div>
</div>