<div class="col-md-6 legalWrapper">
    <p>© 2013 Streamus™</p>
    <p>
        <a href="javascript:void(0)" id="touButton" title="Terms of Use">Terms of Use</a>
        <a href="javascript:void(0)" id="privacyButton" title="Privacy Policy">Privacy</a>
        <a href="javascript:void(0)" id="contactButton" title="Contacts">Contact</a>
    </p>
</div>
<div class="col-md-6 text-right badgeWrapper">
    <img width="85" height="40" src="<%= urlPrefix %>img/youTubeBadge.png" alt="Powered by YouTube" class="img-responsive" />

    <a href="https://chrome.google.com/webstore/detail/streamus-beta/jbnkffmindojffecdhbbmekbmkkfpmjd">
        <img width="150" height="40" src="<%= urlPrefix %>img/chromeWebStoreBadge.png" alt="Available in the Chrome Web Store" class="img-responsive" />  
    </a>
</div>