<div class="jumbotron">
    <h1>Getting Started</h1>
                    
    <h2>
        Let's get you familiar with your new extension!
    </h2>

</div>
<div class="row marketing">
    <hr class="featurette-divider" />
    <div class="featurette">
        <img width="630" height="540" class="featurette-image pull-right img-thumbnail img-responsive" src="img/streamusIntro1.png" />
        <h2 class="featurette-heading">
            <span class="muted">
                Welcome to your new content library.
            </span>
        </h2>
        <p class="lead">
            Streamus starts pretty much empty. You've gotta add some videos to your
            playlist! Search just like you would on YouTube or copy &amp; paste a YouTube
            video URL.
        </p>
    </div>
    <hr class="featurette-divider" />
    <div class="featurette">
        <img width="630" height="540" class="featurette-image pull-left img-thumbnail img-responsive" src="img/streamusIntro2.png" />
        <h2 class="featurette-heading">Streaming videos. <span class="muted">Sounds like what you want, right?</span></h2>
        <p class="lead">
            Click on a video to add it to the stream. For playlists, right-click the
            one you want and select 'Add Playlist to Stream.' Either way, just click
            play to start streaming YouTube!
        </p>
    </div>
    <hr class="featurette-divider" />
    <div class="featurette">
        <img width="630" height="540" class="featurette-image pull-right img-thumbnail img-responsive" src="img/streamusIntro3.png" />
        <h2 class="featurette-heading">Discover! <span class="muted">Imagine if Pandora and YouTube had a baby.</span></h2>
        <p class="lead">
            Click the radio tower to enable radio mode. Streamus will suggest new
            YouTube videos whenever you play past the end of the stream!
        </p>
    </div>
    <hr class="featurette-divider" />
    <div class="featurette">
        <img width="612" height="432" class="featurette-image pull-left img-thumbnail img-responsive" src="img/keyboardShortcutsScreenshot.png" />
        <h2 class="featurette-heading">Keybindings! <span class="muted">Because opening Streamus is too much work.</span></h2>
        <p class="lead">
            Streamus supports a bunch of keyboard shortcuts. You can open the interface,
            skip between videos, etc. Set 'em up to make your life even easier.
        </p>
    </div>
    <hr class="featurette-divider" />
    <div class="featurette">
        <img width="1000" height="286" class="featurette-image pull-right img-thumbnail img-responsive" src="img/streamusIntro5.png" />
        <h2 class="featurette-heading">Omnibox <span class="muted">Stream videos right meow!</span></h2>
        <p class="lead">
            You can use the omnibox to immediately stream videos in Streamus. Just
            type 'streamus', tap your spacebar and you're off searching YouTube. Simple,
            huh?
        </p>
    </div>
</div>