<div class="jumbotron">
    <h1>Simple, streaming music.</h1>
                    
    <h2>
        The convenience of YouTube.
        <br/>
        The beauty of Chrome technology.
    </h2>
                    
    <p class="lead">
        Streamus turns YouTube into the music player you always wanted. It's a Google Chrome extension that makes streaming YouTube refreshingly easy.
    </p>

    <a id="installButton" class="btn btn-lg btn-success" href="javascript:void(0)">
        Install extension now
    </a>
</div>
<hr />

<div class="row marketing">
                    
    <div class="col-md-6">
        <h4>Forget the bookmarks</h4>
        <p>
            Adding videos to Streamus makes bookmarking YouTube obsolete! Your video collections are accessible from any PC.
        </p>

        <h4>Discover new music</h4>
        <p>
            Streamus helps you explore YouTube. Turn on Stream Radio and find suggestions based on what you're listening to!
        </p>
    </div>
    <div class="col-md-6">
        <h4>No need for tabs</h4>
        <p>
            Ever accidentally close a song you were listening to? Yeah, us too. Streamus runs behind the scenes so you can enjoy a seamless, tab-free experience.
        </p>

        <h4>Share everything</h4>
        <p>
            Your playlists and videos are made portable with a simple click. Share music in confidence with <strong>share.streamus.com</strong>
        </p>
    </div>
</div>