<div class="g-plusone" data-size="medium" data-href="https://chrome.google.com/webstore/detail/streamus-beta/jbnkffmindojffecdhbbmekbmkkfpmjd"></div>
            
<iframe class="github" src="https://streamus.com/github-btn.html?user=meomix&repo=streamuschromeextension&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
     
<div id="fb-root"></div>
<div class="fb-like" data-href="https://www.facebook.com/GetStreamus" data-send="false" data-layout="button_count" data-width="420" data-show-faces="false" data-font="lucida grande"></div>
            
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://streamus.com" data-via="Streamus"></a>