@import "color";

.icon-dollarSign {
    color: @green;
}

.icon-arrowRight {
    color: @yellow;
}

.icon-beerMug {
    margin-bottom: -10px;
    fill: @brown;
}

.icon-equalSign {
    display: inline-block;
    color: @blue;
}

.icon-heart {
    color: @red;
}

.donate-payPalInput {
    display: inline-block;
    max-width: 200px;
}

@media (max-width: 767px) {
    .icon-beerMug {
        zoom: .6;
    }
}

@media (max-width: 520px) {
    .donate-payPalButton {
        margin-top: 15px;
    }
}