@import "color";
@transition-easeOutSine: cubic-bezier(.39,.575,.565,1);

.panel-heading {
    cursor: pointer;
    transition: all .14s @transition-easeOutSine;
}

.panel-heading:not(.collapsed), 
.panel-heading:not(.collapsed):hover {
    color: white;
    background-color: @blue;
}

.panel-heading:hover {
    background-color: @dark--highlight;
}