@import "reset";
@import "color";
@import "utility";
@import "home";
@import "gettingStarted";
@import "social";
@import "donate";
@import "about";

body {
    padding-top: 20px;
    padding-bottom: 40px;
    color: @dark--primary;
    text-align: center;
    text-rendering: optimizeLegibility;
}

.jumbotron {
    background-color: transparent;
}

h1,
h2 {
    font-weight: bold;
}

//  Sync the height of legal with badges
.legal {
    line-height: 40px;
}

.legal a {
    padding-left: 4px;
}

.nav {
    display: inline-block;
    //  Align the navigation items with the logo
    margin-top: 14px;
}

// Slight transition on hovers rather than instant color change
a,
a.btn,
button.btn {
    transition: all .4s;
}

@media (max-width: 1399px) {
    .social,
    .zopim {
        display: none;
    }
}

@media (min-width: 768px ){
    .legal,
    .logo {
        float: left;
    }

    .badges,
    .nav {
        float: right;
    }
}
