.notification {
  will-change: transform;
  transition: transform .28s cubic-bezier(.39, .575, .565, 1);
  transform: translateY(110%);
  min-width: 288px;
  max-width: 568px;
  padding: 0 24px;
  cursor: default;
  trait: gray--notification from 'background-color';
  border-radius: 2px 2px 0 0;
  trait: mediumLowElevation from 'box-shadow';
  pointer-events: none;
}

.message {
  opacity: 0;
  transition-property: opacity;
  transition-duration: inherit;
  transition-timing-function: inherit;
  will-change: opacity;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  trait: white from 'color';
  font-size: 15px;
  line-height: 48px;
}

.isVisible {
  pointer-events: all;
  transform: translateY(0);
}

.isVisible .message {
  opacity: 1;
}