.share {
}

.title {
  @mixin title from '../contentPage';
}

.description {
  @mixin description from '../contentPage';
}

.card {
  width: 640px;
}

.button {
  @mixin flatButton light from 'button/button';
}

.introduction {
  display: flex;
  justify-content: center;
}

.share.isLoading .introduction,
.share.hasPlaylist .introduction,
.share.hasError .introduction {
  display: none;
}

.share:not(.isLoading) .loading {
  display: none;
}

.share:not(.hasError) .error {
  display: none;
}

.loading {
  
}

.error {
  
}