.share {

  &.isLoading,
  &.hasError,
  &.hasPlaylist {
   & .introduction {
     display: none;
   } 
  }

  &:not(.isLoading) {
   & .loading {
     display: none;
   } 
  }

  &:not(.hasError) {
   & .error {
     display: none;
   } 
  }
}

.title {
  @mixin title from '../contentPage';
}

.description {
  @mixin description from '../contentPage';
}

.card {
  width: 640px;
}

.button {
  @mixin flatButton light from 'button/button';
}

.cards {
  display: flex;
  justify-content: center;
}

.image {
  trait: bottomOutset from 'box-shadow';
}