body {
    color: #1E1E1E !important;
    padding-bottom: 40px;
    padding-top: 20px;
    text-rendering: optimizeLegibility;
}

body.loading {
    opacity: 0;
}

.container-narrow {
    margin: 0 auto;
    max-width: 1000px;
}

body .jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron > h1,
.jumbotron > h2 {
    font-weight: bold;
}

.jumbotron.short {
     margin: inherit;
}

.footer { padding-top: 10px; }

.marketing { margin: 40px 0; }

.marketing p + h4 { margin-top: 28px; }

.marketing h4 {
    font-weight: bold;
}

.badgeWrapper {
    margin-top: -10px;
    white-space: nowrap;
}

.legalWrapper {
    line-height: 1;
    padding-top: 5px;
}

.legalWrapper p {
    display: inline-block;
}

.social {
    max-width: 250px;
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    left: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    transition: opacity 2s ease-in-out;
}

.social.loading {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.social > .fb-like,
.social > #___plusone_0,
.social > iframe.github {
    margin-bottom: 3px !important;
    display: block;
}

.social:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.gc-reset,.pls-dropBottom{
    display: none !important;
}

ul.nav {
    margin-bottom: 0;
    margin-top: 12px;
    display: inline-block;
}

.content {
    display: none;
}

.legalWrapper,
.logoWrapper {
    float: left;
}

.clickable {
    cursor: pointer;
}

#aboutConclusion {
    text-align: center;
    margin-top: 30px;
}

#contactContent {
    text-align: center;
}

#contactContent ul {
    list-style: none;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-image.wide {
    margin-bottom: 20px;
}

img[data-src="img/streamusIntro2.png"],
img[data-src="img/streamusIntro3.png"] {
    width: 630px;
    height: 540px;
}

img[data-src="img/streamusIntro4.png"] {
    width: 612px;
    height: 432px;
}

img[data-src="img/streamusIntro5.png"] {
    width: 1000px;
    height: 286px;
}

#donateContent .fa-usd {
    color: #51A351;
}

#donateContent .fa-long-arrow-right {
    color: #f0ad4e;
}

#donateContent #beerMug {
    margin-bottom: -10px;
}

#donateContent .icon-beer {
    color: #654321;
}

#donateContent .equals {
    color: #428bca;
    vertical-align: top;
    display: inline-block;
    margin-top: 13px;
}

#donateContent .fa-heart {
    color: #d2322d;
}

#donateContent > div {
    text-align: center;
}

#donateContent iframe {
    width: 193px !important;
}

#currencySelect,
#donationAmount {
    width: 200px;
    display: inline-block;
}

@media (max-width: 1220px) {
    .social { display: none !important; }
    .zopim { display: none !important; }
}

@media (max-width: 767px) {
    #donateContent #beerMug {
        zoom: .6;
    }

    #donateContent .equals {
        margin-top: 11px;
    }
}

@media (max-width: 622px) {
    .logoWrapper,
    .navigationWrapper,
    .badgeWrapper,
    .legalWrapper {
        text-align: center;
        float: none;
    }

    .badgeWrapper {
        margin-top: 0;
    }

    .logoWrapper img {
        display: inline-block;
        margin-bottom: 10px;
    }

    .marketing h4,
    .marketing p {
        text-align: center;
    }

}

@media (max-width: 520px) {
    #donateContent button[form="payPalDonateForm"] {
        margin-top: 15px;
    }
}