@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'Helvetica Neue';
        src: url('../font/helvetica neue/helveticaneue-webfont.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: 'Helvetica Neue';
        src: url('../font/helvetica neue/helveticaneuebold-webfont.svg') format('svg');
        font-weight: bold;
        font-style: normal;
    }
}

body {
    color: #1E1E1E !important;
    padding-bottom: 40px;
    padding-top: 20px;
}

/* Custom container */

.container-narrow {
    margin: 0 auto;
    max-width: 1000px;
}

/* Main marketing message and sign up button */

body .jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron > h1,
.jumbotron > h2 {
    font-weight: bold;
}

.jumbotron.short {
     margin: inherit;
}

.footer { padding-top: 10px; }

.footer * {
    display: inline-block !important;
    padding-right: 5px;
}

.marketing { margin: 40px 0; }

.marketing p + h4 { margin-top: 28px; }

.marketing h4 {
    font-weight: bold;
}

.badgeWrapper {
    margin-top: -10px;
    white-space: nowrap;
}

.legalWrapper {
    line-height: 1;
    padding-top: 5px;
}

.social {
    max-width: 250px;
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    left: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

.social > .fb-like,
.social > #___plusone_0,
.social > iframe.github {
    margin-bottom: 3px !important;
    display: block;
}

.social:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.gc-reset,.pls-dropBottom{
    display: none !important;
}

ul.nav {
    margin-bottom: 0;
    margin-top: 12px;
    display: inline-block;
}

#homeContent {
    display: inherit;
}

.content {
    display: none;
}

.logoWrapper {
    display: inline-block;
}

#aboutConclusion {
    text-align: center;
    margin-top: 30px;
}

#contactContent {
    text-align: center;
}

#contactContent ul {
    list-style: none;
}

.featurette {
    padding-top: 120px;
    overflow: hidden;
}

.featurette-image {
    margin-top: -120px;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

@media (max-width: 1000px) {
    .container-narrow { padding: 10px 0;}
    .badgeWrapper { text-align: left; }
    .social { display: none !important; }
    .zopim { display: none !important; }
}

@media (max-width: 767px) {
    .badgeWrapper {
        margin-top: inherit;
        text-align: center !important;
    }
    .logoWrapper {
         text-align: center !important;
    }
    .navigationWrapper {
        text-align: center !important;
        margin-top: 20px !important;
        zoom: .9;
    }
    .legalWrapper {
         text-align: center;
    }

    .content {
        zoom: .9;
    }
}

@media (max-width: 352px) {
    .badgeWrapper {
        zoom: .7
    }

    .header,
    .footer {
        zoom: .9
    }
   
    .content {
        zoom: .7;
    }

    .navigationWrapper {
        text-align: center !important;
        margin-top: 10px !important;
        zoom: .8;
    }

}

@media (max-width: 290px) {
    .content {
        zoom: .6;
    }

    #homeContent > .jumbotron h1 {
        font-size: 66px;
    }

    .navigationWrapper {
        zoom: .7;
    }

}

#donateContent .fa-usd {
    color: #51A351;
}

#donateContent .fa-long-arrow-right {
    color: #f0ad4e;
}

#donateContent #beerMug {
    margin-bottom: -10px;
}

#donateContent .icon-beer {
    color: #654321;
}

#donateContent .equals {
    color: #428bca;
    vertical-align: top;
    line-height: 80px;
}

#donateContent .fa-heart {
    color: #d2322d;
}

#donateContent > div {
    text-align: center;
}

#currencySelect,
#donationAmount {
    width: 200px;
    display: inline-block;
}

