:root {
  --badge-FixedWidth: 55px;
}

.playlistItem {
  display: flex;
  align-items: center;
}

.playlistItem-title {
  margin-left: var(--badge-FixedWidth);
  flex: 1;
}

.playlistItems {
  max-height: 420px;
  overflow-x: hidden;
  overflow-y: auto;
}

.playlist:not(:last-child){
  margin-bottom: 20px;
}

.badge-wrapper {
  width: var(--badge-FixedWidth);
  line-height: 0;
}