.application {
  display: flex;
  flex-direction: row;
  height: 100%; /* Avoid IE 10-11 `min-height` issue */
  trait: darkPrimary from 'color';
}

.headerRegion {
  display: flex;
  width: 100%;
  height: 64px;
  /* Ensure browsers don't allow items to shrink smaller than default minimum size */
  flex: none;
  position: fixed;
}

.contentRegion {
  margin-top: 56px;
  padding: 48px 0;
  width: 976px;
  margin-left: auto;
  margin-right: auto;
  /* Ensure browsers don't allow items to shrink smaller than default minimum size */
  flex: 1 0 auto;
}

.contentRegion::before {
  content: '';
  background-color: rgb(66, 133, 244);
  height: 512px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.footerRegion {
  /* Ensure browsers don't allow items to shrink smaller than default minimum size */
  flex: none;
  background-color: rgba(0, 0, 0, .87);
  padding: 24px 0;
}

.navigationRegion {
  display: flex;
  flex-direction: column;
  /*flex: 0 0 280px;*/
  trait: right from 'box-shadow';
  position: fixed;
  height: 100%;
  width: 280px;
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  /*padding-left: 280px;*/
}

.notificationRegion {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

/*
  When interacting with 'native' UI elements such as scrollbars and sliders - ensure that
  the browser stops responding to the mouse while dragging because that's how browsers work with
  actually native elements.
*/
.isClickingScrollbar {
  user-select: none !important;
}

.isClickingScrollbar *,
.isClickingScrollbar *::before,
.isClickingScrollbar *::after {
  user-select: none !important;
}