.application {
  display: flex;
  flex-direction: row;
  height: 100%; /* Avoid IE 10-11 `min-height` issue */
  trait: darkPrimary from 'color';
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* TODO: Prefer removing the region and having the view in charge of its own CSS. */
.snackbarRegion {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
}