<div class='container'>
  <div data-region='header'>
    <div class='header row'>
      <div data-region='logo'></div>
      <nav data-region='navigation' class='navigationRegion'></nav>
    </div>
  </div>
  <hr />

  <div data-region='home'></div>
  <div data-region='gettingStarted'></div>
  <div data-region='faq'></div>
  <div data-region='share'></div>
  <div data-region='about'></div>
  <div data-region='donate'></div>
  <div data-region='notFound'></div>
  <hr />
  <div data-region='footer'>
    <div class='footer row'>
      <div class='legal'>
        © 2015 Streamus, Inc.
        <a data-ui='termsOfUse' class='u-clickable' title='Terms of Use'>
          Terms of Use
        </a>

        <a data-ui='privacy' class='u-clickable' title='Privacy Policy'>
          Privacy
        </a>

        <a data-ui='contact' class='u-clickable' title='Contacts'>
          Contact
        </a>
      </div>
      <div class='badges'>
        <a href='https://www.youtube.com/channel/UCIM0WmckvPaAR_ZaCbNJUVA'>
          <img width='85' height='40' src='/application/youTubeBadge.png' alt='Powered by YouTube' />
        </a>
        <a href='https://chrome.google.com/webstore/detail/streamus-beta/jbnkffmindojffecdhbbmekbmkkfpmjd'>
          <img width='150' height='40' src='/application/chromeWebStoreBadge.png' alt='Available in the Chrome Web Store' />
        </a>
      </div>
    </div>
  </div>
  <div data-region='dialog'></div>
</div>
<div data-region='social'></div>