<div class='{{styles.content}}'>
  <div data-region='header'></div>
  <div data-region='content'></div>
  <div data-region='footer'></div>
</div>

<div data-region='snackbar' class='{{styles.snackbarRegion}}'></div>