<p class='{{data.root.styles.paragraph}}'>
  <strong>Permission:</strong> Read and change your data on all pro.beatport.com sites and all youtube.com sites
  <br />
  <strong>Explanation:</strong> Streamus enhances pro.beatport.com to provide you with full versions of the songs Beatport is previewing. To do so, it injects new buttons into their website.
  Additionally, Streamus enhances youtube.com by adding an 'Add to Streamus' button underneath YouTube videos which you can use as a shortcut for saving songs.
</p>

<p class='{{data.root.styles.paragraph}}'>
  <strong>Permission:</strong> Communicate with cooperating websites
  <br />
  <strong>Explanation:</strong> This simply means that streamus.com is able to ask the extension if it is installed. If so, the buttons on the website will indicate that you have Streamus installed.
</p>

<p class='{{data.root.styles.paragraph}}'>
  <strong>Permission:</strong> Know your email address
  <br />
  <strong>Explanation:</strong> Streamus does not use your email address. It does use your G+ ID to save your playlists. Without this, your playlists would be lost if you uninstalled Streamus.
  For some users their G+ ID is their email address. So, since Chrome v41, Google requires me to ask for permission to know your email address in order to know your G+ ID and save your playlists.
</p>

I take permissions very seriously and actively work on reducing required permissions whenever possible. Thank you for understanding!