<div class="jumbotron">
    <h1>Getting Started</h1>
    <h2>
        Let's get you familiar with your new extension!
    </h2>
</div>

<hr />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <h2>Streamus is in the upper right.</h2>
        <p>
            You can drag the icon so that it is always visible or keep it collapsed in the menu.
            Click it to open the user interface!
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <img class="img-thumbnail img-responsive" src="img/iconLocation.png" alt="Streamus Icon Location" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <h2>The user interface</h2>
        <p>
            Streamus starts pretty much empty. You've gotta add some songs to your
            playlist! Click the search icon to begin adding to your collection.
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <img class="img-thumbnail img-responsive" src="img/emptyPlaylist.png" alt="Streamus Intro - Welcome" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <h2>Searching for songs</h2>
        <p>
            Try typing in an artist or song name. You should see search results appear.
            You can use Ctrl+Click and Shift+Click to select more than one result at a time.
            Clicking the play button on a result will cause it to begin streaming instantly.
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <img class="img-thumbnail img-responsive" data-src="img/selectingItems.png" alt="Streamus Intro - Searching"/>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <h2>Adding songs</h2>
        <p>
            Click-and-drag search results to your stream. Drop search results to add.
            Close out of the search window once you've added some music. You're now ready to rock out!
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <img class="img-thumbnail img-responsive" data-src="img/draggingItems.png" alt="Streamus Intro - Adding Videos"/>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <h2>Playing songs</h2>
        <p>
            Click play to begin playing the first song in your stream. The songs will play in order, but feel free to re-arrange them.
            You can configure stream settings at the bottom -- shuffling, repeating and 'radio mode.' Radio mode will allow the stream to
            continue playing once it runs out of music.
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <img class="img-thumbnail img-responsive" data-src="img/playing.png" alt="Streamus Intro - Playing"/>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <h2>Adding playlists</h2>
        <p>
            The playlist management pane can be expanded by clicking the button located in the upper-left corner. You can add, delete
            and rename playlists from here. When adding a playlist -- you may provide a YouTube channel or playlist URL as a source.
            In the future, you will be able to login to YouTube and access personal playlists as well as SoundCloud and other services.
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <img class="img-thumbnail img-responsive" data-src="img/createPlaylist.png" alt="Streamus Intro - Adding Playlists"/>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <h2>Keyboard Shortcuts</h2>
        <p>
            Streamus supports a bunch of keyboard shortcuts. Click the hamburger icon in the upper-right and then select the 'Keyboard shortcuts' menu option.
            Keyboard shortcuts allow you to skip between songs, adjust the volume, etc. all without opening the UI! Try setting a few of them up to make your music-listening experience even simpler.
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <img class="img-thumbnail img-responsive" data-src="img/keyboardShortcuts.png" alt="Streamus Intro - Shortcuts" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <h2>Omnibox Integration</h2>
        <p>
            You can use the omnibox to immediately stream songs in Streamus. Just
            type 'streamus', tap your spacebar and you're off searching YouTube. Simple,
            huh?
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <img class="img-thumbnail img-responsive" data-src="img/omnibox.png" alt="Streamus Intro - Omnibox" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
        <h2>Beatport Integration</h2>
        <p>
            Streamus interfaces with Beatport to provide you an easy way of listening to current Top 100 charts.
            Simply go to Beatport and view a genre's Top 100. You will see green play buttons appear on the page which will allow
            you to play full-length tracks through Streamus. :)
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <img class="img-thumbnail img-responsive" data-src="img/beatport.png" alt="Streamus Intro - Beatport" />
    </div>
</div>