<div class="jumbotron">
    <h1>Simple, streaming music.</h1>
    <h2>The convenience of YouTube.</h2>
    <h2>The beauty of Chrome technology.</h2>
    <p class="lead">
        Streamus turns YouTube into the music player you always wanted. It's a Google Chrome extension that makes streaming YouTube refreshingly easy.
    </p>
                        
    <div class="buttonRegion"></div>
</div>
<hr />
<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <div class="marketing-item">
            <h4>Forget the bookmarks</h4>
            <p>
                Instead of bookmarking songs - build playlists! Your music collection will come with you even if you move computers.
            </p>
        </div>
        <div class="marketing-item">
            <h4>Discover new music</h4>
            <p>
                Explore YouTube at your own leisure. Turn on radio mode and discover new songs based on your listening habits.
            </p>
        </div>
    </div>
    <div class="col-md-5">
        <div class="marketing-item">
            <h4>No need for tabs</h4>
            <p>
                Enjoy a seamless, tab-free music experience. Never accidentally close a tab playing music again!
            </p>
        </div>
        <div class="marketing-item">
            <h4>Share everything</h4>
            <p>
                Send playlist URLs to friends and they'll instantly have their own copy.
            </p>
        </div>
    </div>
</div>