.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Ensure browsers don't allow items to shrink smaller than default minimum size */
  flex: none;
  trait: darkPrimary from 'background-color';
  padding: 32px 0;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  trait: white from 'color';
  padding-right: 48px;
  flex: 1;
  box-shadow: 1px 0 rgba(255, 255, 255, 0.7);
  text-align: right;
}

.rightSection {
  trait: white from 'color';
  flex: 1;
}

.item {
  display: flex;
}

.badge {
  height: 56px;
  display: flex;
  align-items: center;
  opacity: 0.87;
  will-change: opacity;
  transition: opacity .1s cubic-bezier(.39, .575, .565, 1);
  margin-left: 48px;

  &:hover {
    opacity: 1;
  }
}

.icons {
  margin-top: 8px;
  /* Shave 4px off so that icon background-color aligns with badge. */
  margin-left: 44px;
  display: flex;
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.87;
  will-change: opacity;
  transition: opacity .1s cubic-bezier(.39, .575, .565, 1);
  margin-right: 8px;

  &:hover {
    opacity: 1;

    & .facebook {
      background-color: rgba(54, 100, 162, .54);
    }

    & .twitter {
      background-color: rgba(85, 172, 238, .54);
    }

    & .reddit {
      background-color: rgba(255, 69, 0, .54);
    }

    & .github {
      background-color: rgba(64, 120, 192, .54);
    }
  }
}

@define-mixin iconImage {
  will-change: background-color;
  transition: background-color .1s cubic-bezier(.39, .575, .565, 1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.twitter {
  @mixin iconImage;
  composes: fa fa-twitter fa-lg from 'font-awesome';
}

.facebook {
  @mixin iconImage;
  composes: fa fa-facebook fa-lg from 'font-awesome';
}

.github {
  @mixin iconImage;
  composes: fa fa-github fa-lg from 'font-awesome';
}

.reddit {
  @mixin iconImage;
  composes: fa fa-reddit fa-lg from 'font-awesome';
}