.footer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  trait: white from 'color';
  padding-right: 48px;
  flex: 1;
  box-shadow: 1px 0 rgba(255, 255, 255, 0.7);
  text-align: right;
}

.rightSection {
  trait: white from 'color';
  padding-left: 48px;
  flex: 1;
}

.item {
  display: flex;
}

.badge {
  height: 56px;
  display: flex;
  align-items: center;
  opacity: 0.87;
  will-change: opacity;
  transition: opacity .1s cubic-bezier(.39, .575, .565, 1);

  &:hover {
    opacity: 1;
  }
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.87;
  will-change: opacity;
  transition: opacity .1s cubic-bezier(.39, .575, .565, 1);

  &:hover {
    opacity: 1;

    & .facebook {
      color: #3664a2;
    }

    & .twitter {
      color: #55acee;
    }

    & .reddit {
      color: #FF4500;
    }

    & .github {
      color: #672A80;
    }
  }
}

@define-mixin iconImage {
  will-change: color;
  transition: color .1s cubic-bezier(.39, .575, .565, 1);
}

.twitter {
  @mixin iconImage;
  composes: fa fa-twitter fa-lg from 'font-awesome';
}

.facebook {
  @mixin iconImage;
  composes: fa fa-facebook fa-lg from 'font-awesome';
}

.github {
  @mixin iconImage;
  composes: fa fa-github fa-lg from 'font-awesome';
}

.reddit {
  @mixin iconImage;
  composes: fa fa-reddit fa-lg from 'font-awesome';
}