<div data-ui='loading'>
  Loading playlist...
</div>

<div data-ui='error' class='is-hidden'>
  Failed to load playlist. Sorry. :(
</div>

<div data-ui='details' class='is-hidden'>
  <h2 data-ui='title'></h2>
  <h4 data-ui='displayInfo'></h4>

  <div data-region='playlistItems'></div>
  <span data-region='button'></span>
</div>