.playlist {
  display: flex;
  justify-content: center;

  &:not(.isLoaded) {
    & .details {
      display: none;
    }
  }

  /* TODO: This CSS feels a bit forced. */
  &:not(.isLoading) {
    & .loading {
      display: none;
    }
  }

  &:not(.hasError) {
    & .error {
      display: none;
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.loading {
  trait: black from 'color';
}

.title {
  font-size: 24px;
  line-height: 32px;
}

.subtitle {
  trait: darkSecondary from 'color';
}

.details {
  flex: 1;
}